/* Importa a fonte Poppins globalmente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

/* Define a fonte padrão e a cor do texto para preto em todo o app */
body {
  font-family: 'Poppins', sans-serif;
  color: #000;
}

/* Classe global para o fundo amarelo.
  Vamos aplicá-la em <ion-content> nas páginas.
*/
.yellow-background {
  --background: #FFF9D9;
}

/* Classe global para os botões de ação.
  Agora pode ser usada em qualquer página.
*/
.action-button {
  --background: #FCD961; // Amarelo do botão
  --background-activated: #e6c352;
  --color: #000; // Texto preto
  font-weight: 600;
  width: 100%;
  margin-top: 10px;
  text-transform: initial;
}